### Built-in datatypes in Python
There are four built-in datatypes in Python to represent collection of data. They are:<br>
List - Ordered and Changeable. Allows duplicates. Represented in []<br>
Tuple - Ordered and Unchangeable. Allows duplicates. Represented in ()<br>
Set - Unordered, Unchangeable*, and unindexed. No duplicates. Represented in {}<br>
Dictionary - Ordered(from python 3.7) and changeable. No duplicates. Represented in {}<br>

## SETS

In [1]:
# REPRESENTATION OF A SET
a = {1,2,3,4,5}
print(type(a))
print("Set a:",a)

<class 'set'>
Set a: {1, 2, 3, 4, 5}

In [ ]:
# Double round-brackets represent a set
a = set(("apple", "banana", "cherry")) 
print("Set a:",a)
print(type(a))

In [ ]:
# NO DUPLICATES
a = {1,2,2,3,4,5,5,6,7,8}
print("Set a:",a)

In [ ]:
# LENGTH OF THE SET
a = {1,2,3,4,5}
print("Length of the set a is:",len(a))

In [9]:
# ACCESSING SET ITEMS
a = {"apple", "banana", "cherry"}

for x in a:
  print(x)

cherry
apple
banana

In [10]:
# Checking if particular element is present or not
a = {"apple", "banana", "cherry"}
print("banana" in a)

True

In [22]:
# ADDITION OF NEW ITEMS TO SET
# add() - adds only one element

a = {1,2,3,4,5,6,7,8}
a.add(9)
print("Set a after adding:",a)

Set a after adding: {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [23]:
# ADDITION OF NEW ITEMS USING "update" METHOD
a = {"apple", "banana", "cherry"}
b = {"pineapple", "mango", "papaya"}

a.update(b)

print("Set a after updating:",a)
print("Set b is:", b)

Set a after updating: {'papaya', 'pineapple', 'cherry', 'mango', 'apple', 'banana'}
Set b is: {'papaya', 'mango', 'pineapple'}

In [2]:
# update method takes any datatype - list, tuple, dictionary
a = {"apple", "banana", "cherry"}
b = ["kiwi", "orange"]

a.update(b)

print("Set a after updating:",a)
print("Set b is:", b)

Set a after updating: {'orange', 'kiwi', 'apple', 'banana', 'cherry'}
Set b is: ['kiwi', 'orange']

In [1]:
# REMOVING ITEMS FROM SET 
# remove() - removes only one element
# throws error if the element in remove() is not present in the set

a = {1,2,3,4,5}
a.remove(1)
# a.remove(7)
print("Set a after removing:",a)

Set a after removing: {2, 3, 4, 5}

In [31]:
# REMOVING ITEMS FROM SET 
# discard() - removes only one element
# does not throw error if the element in discard() is not present in the set

a = {1,2,3,4,5}
a.discard(2)
a.discard(7)
print("Set a after removing:",a)

Set a after removing: {1, 3, 4, 5}

In [36]:
# Using pop() element is removed randomly
a = {1,2,3,4,5,6,7}
a.pop()
print("Set a after popping:",a)

{2, 3, 4, 5, 6, 7}

In [37]:
# clear() set
a = {1,2,3,4,5}
a.clear()
print(a)

set()

In [4]:
# del - throws error after deleting
a = {1,2,3,4,5}
del a
print(a)

NameError: name 'a' is not defined

### Joining sets

In [5]:
# union() - returns new set
# intersection() - returns new set with common elements
# symmetric_difference() - removes common elements and returns new set

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

a = x.union(y)
b = x.intersection(y)
c = x.symmetric_difference(y)

print("Union of x and y is:",a)
print("Intersection of x and y is:",b)
print("Symmetric difference of x and y is:",c)

Union of x and y is: {'banana', 'microsoft', 'cherry', 'google', 'apple'}
Intersection of x and y is: {'apple'}
Symmetric difference of x and y is: {'google', 'banana', 'microsoft', 'cherry'}

In [12]:
# update() - adds set2 to set1

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)
print(x)

{'banana', 'microsoft', 'cherry', 'google', 'apple'}

In [11]:
# intersection_update() - returns common elements in both sets

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)
print(x)

{'apple'}

In [10]:
# symmetric_difference_update() - removes the common elements

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)
print(x)

{'google', 'banana', 'microsoft', 'cherry'}

### Other Functions

In [1]:
set1 = {1,2,3,4,5}
set2 = set1.copy()
print(set2)

{1, 2, 3, 4, 5}

In [2]:
set1 = {1,2,3,4,5}
set2 = {1,2,3}
set3 = set1.difference(set2)
print(set3)

{4, 5}

In [3]:
set1 = {1,2,3,4,5}
set2 = {1,2,3}
set1.difference_update(set2)
print(set1)

{4, 5}

In [7]:
set1 = {1,2,3,4,5}
set2 = {1,2,3}
a = set1.isdisjoint(set2)
print(a)

False

In [8]:
set1 = {1,2,3,4,5}
set2 = {1,2,3}
a = set1.issubset(set2)
print(a)

False

In [9]:
set1 = {1,2,3,4,5}
set2 = {1,2,3}
a = set1.issuperset(set2)
print(a)

True

## SET METHODS

Let a,b,c be three sets.<br>
type(a) - type <set>.<br>
len(a) - Length of the set.<br>
a.add(element) - Adds an element to set.<br>
a.update(b) - Adds new set to existing set.<br>
a.update(list_name) - Adds list to set.<br>
a.remove(element) - Removes element, gives error if element is not present.<br>
a.discard(element) - Removes element, does not give error if element is not present.<br>
a.pop() - Element is removed randomly.<br>
a.clear() - Clears the set.<br>
del a - Deletes the set.<br>
c = a.union(b) - Union of a and b, returns new set.<br>
a.update(b) - Union of a and b, does not return new set.<br>
a.intersection_update(b) - returns common elements in both sets.<br>
c = a.intersection(b) - returns new set with common elements.<br>
a.symmetric_difference_update(b) - removes the common elements.<br>
c = a.symmetric_difference(b) - removes common elements and returns new set.<br>
b = a.copy() - copies a to b.<br>
c = a.difference(b) - a-b, returns new set.<br>
a.difference_update(b) - a-b, does not return new set.<br>
x = a.isdisjoint(b) - checks if a,b are disjoint.<br>
x = a.issubset(b) - checks if a is subset of b.<br>
x = a.issuperset(b) - checks if a is superset of b.<br>