In [2]:
3+3

6

## Datatypes

In [3]:
print(type(3))
print(type(3.4))
print(type('abc'))
print(type(True))
print('....................................')
print(type([1,2,3]))
print(type((1,2,3)))
print(type({1:'apple',2:'banana'}))
print(type({1,2,3}))
print(type(frozenset({1, 2, 3})))
print('....................................')
print(type(range(0, 10, 2)))
print(type(b'hello'))
print(type(bytearray(b'hello')))
print(type(None))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
....................................
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
....................................
<class 'range'>
<class 'bytes'>
<class 'bytearray'>
<class 'NoneType'>

## Operators

In [4]:
# ARITHMETIC OPERATORS
print(5 + 10) # Addition
print(10-4) # Subtraction
print(4*3) # Multiplication
print(10/2) #Division
print(10//3) #Quotient
print(10%3) #Remainder

15
6
12
5.0
3
1

In [5]:
#LOGICAL OPERATORS
print(3==3) # Equality 
print(3!=3) #Inequality
print(5<=3) #Comparision
print((5>3) and (1<0)) #AND Operator
print((5>3) or (1<0)) #OR Operator

True
False
False
False
True

In [8]:
#CONCATENATION OPERATORS
print("Hello" + "World")
print("Hello" * 3)
print("3"+"3")

HelloWorld
HelloHelloHello
33

## Custom Functions

In [3]:
def celsius_to_fah(celsius_temp):
    a = celsius_temp * 1.8
    return a + 32

print("Celsius to Fahrenheit:",celsius_to_fah(0))
print("Celsius to Fahrenheit:",celsius_to_fah(celsius_temp=1))

Celsius to Fahrenheit: 32.0
Celsius to Fahrenheit: 33.8

In [5]:
def celsius_to_fah(celsius_temp = 0): #This is a fall back value if we forget to give an argument
    a = celsius_temp * 1.8
    return a + 32

print("Celsius to Fahrenheit:",celsius_to_fah(30))
print("Celsius to Fahrenheit:",celsius_to_fah(celsius_temp=1))
print("Celsius to Fahrenheit:",celsius_to_fah())

Celsius to Fahrenheit: 86.0
Celsius to Fahrenheit: 33.8
Celsius to Fahrenheit: 32.0

## Series

In [1]:
import pandas as pd

In [2]:
# Default index starts from zero
ice_cream = ["Chocolate","Vanilla","Strawberry","Raisin"]
pd.Series(ice_cream)

In [5]:
# Default index starts from zero
lottery = [1,3,7,4,8]
pd.Series(lottery)

0    1
1    3
2    7
3    4
4    8
dtype: int64

In [6]:
# Default index starts from zero
registration = [True,False,False,True]
pd.Series(registration)

0     True
1    False
2    False
3     True
dtype: bool

In [8]:
# Index is taken from the dictionary keys
sushi = {"Salmon":"Orange" , "Tuna":"Red" , "Eel":"Browm"}
pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Browm
dtype: object

In [9]:
# Series Methods
prices = pd.Series([1,5,3,6])
prices.product()

90

## Attributes

In [10]:
adjectives = pd.Series(["Smart","Handsome","Charming","Humble","Smart"])
adjectives

0       Smart
1    Handsome
2    Charming
3      Humble
4       Smart
dtype: object

In [14]:
adjectives.size

int

In [15]:
print(adjectives.values)
print(type(adjectives.values))

numpy.ndarray

## Parameters and Arguments

In [16]:
fruits = ["Apple","Banana","Grapes","Oranges","Plum"]
weekdays = ["Monday","Tuesday","Wednesday","Thursday","Monday"]

In [18]:
# "Shift+tab" = we get list of all the possible parameters

print(pd.Series(fruits,weekdays)) #If names of parameters are not mentioned, order is important
print(pd.Series(data = fruits, index = weekdays))
print(pd.Series(index = fruits, data = weekdays)) #If names of parameters are mentioned, order is not important

Monday         Apple
Tuesday       Banana
Wednesday     Grapes
Thursday     Oranges
Monday          Plum
dtype: object
Monday         Apple
Tuesday       Banana
Wednesday     Grapes
Thursday     Oranges
Monday          Plum
dtype: object
Apple         Monday
Banana       Tuesday
Grapes     Wednesday
Oranges     Thursday
Plum          Monday
dtype: object

## Reading a dataframe

In [22]:
pd.read_csv("pokemon.csv",usecols = ["Name"]).squeeze("columns")

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

## Head and tail methods

In [37]:
# Gives first n rows mentioned in the head() method
pokemon = pd.read_csv("pokemon.csv",usecols = ["Name"]).squeeze("columns")
pokemon.head(6)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
Name: Name, dtype: object

## Passing pandas "series" object to built-in funtions

In [36]:
len(pokemon)
type(pokemon) #Series
list(pokemon) #List
sorted(pokemon) #List
dict(pokemon) #Dictionary
max(pokemon) # Largest alphabetical name 
min(pokemon) # Smallest alphabetical name

151.863495

## Inclusion

In [39]:
pokemon.head()

True

In [45]:
print("Bulbasaur" in pokemon) # It checks only series index. Not among series values
print(0 in pokemon) #It gives True because 0 is an index

False
True

In [47]:
type(pokemon.index)

pandas.core.indexes.range.RangeIndex

In [48]:
print(pokemon.values) #Gives all underlying values. It is numpy array type
print("Bulbasaur" in pokemon.values) #It checks actual values

['Bulbasaur' 'Ivysaur' 'Venusaur' ... 'Miraidon' 'Walking Wake'
 'Iron Leaves']
True

## sort_values

In [50]:
pd.read_csv("google_stock_price.csv",usecols = ["Price"]).squeeze("columns")

0         2.490664
1         2.515820
2         2.758411
3         2.770615
4         2.614201
           ...
4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, Length: 4793, dtype: float64

In [51]:
# Gives the last n rows mentioned in the tail() method
google = pd.read_csv("google_stock_price.csv",usecols = ["Price"]).squeeze("columns")

4792    138.429993
Name: Price, dtype: float64

In [55]:
google.sort_values()  #Ascending by default
google.sort_values(ascending = False)

4395    151.863495
4345    151.000000
4346    150.141754
4341    150.000000
4336    150.000000
           ...
12        2.515820
11        2.514326
13        2.509095
0         2.490664
10        2.470490
Name: Price, Length: 4793, dtype: float64

In [56]:
# Combining multiple methods
google.sort_values(ascending = False).head()

4395    151.863495
4345    151.000000
4346    150.141754
4341    150.000000
4336    150.000000
Name: Price, dtype: float64

## sort_index

In [57]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Name").squeeze("columns")
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [58]:
pokemon.sort_index()

Name
Abomasnow        Grass, Ice
Abra                Psychic
Absol                  Dark
Accelgor                Bug
Aegislash      Steel, Ghost
                  ...
Zoroark                Dark
Zorua                  Dark
Zubat        Poison, Flying
Zweilous       Dark, Dragon
Zygarde      Dragon, Ground
Name: Type, Length: 1010, dtype: object